<h1 class="current-category"><%= params[:category]%></h1>

<% if  @movies.count == 0%>
    <h1>Brak filmów z tej kategorii</h1>
<% else %>

  <div class="row">
    <div id="movies" class="transitions-enabled">
    <% @movies.each do |movie| %>
    <div class="box">
    	<a href="/movies/<%= movie.id %>">
    	    <%= image_tag movie.movie_poster.url(:movie_index), class: "movie" %>
    	</a>
    	</div>
    
    <% end %>
  </div>
  </div>
  
   <div class="center">
     <%= will_paginate @movies, previous_label: "Nowsze", next_label: "Starsze", renderer: BootstrapPagination::Rails  %>
   </div>
<% end %>