<div class="col-md-6 col-md-offset-3">
    
    <div class="signup-form">
        <p>Witaj <%= @resource.email %>!</p>

        <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twoje hasło zostało zmienione.</p>
    </div>
</div>