<p><%= review.rating %></p>
<p><%= review.comment %></p>

<% if user_signed_in? %>

    <% if review.user_id == current_user.id %>
    
    <%= link_to "Edytuj", edit_movie_review_path(review.movie, review) %>
    <%= link_to "Usuń", movie_review_path(review.movie, review), method: :delete, data: {
    confirm: "Jesteś pewien, że chcesz usunąć recenzję?" } %>

<% end %>
<% end %>